doctype html
html(lang="en")
    head 
        title Логин
    body
        h1 Логин
        form(method="post")
            div
                label Логин:
                input(type="text" name="username")
            div
                label Пароль:
                input(type="password" name="password")
            div
                input(type="Submit" value="Войти")
